@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niramit&display=swap');
*{
  font-family: 'Niramit', sans-serif;
}
.green-innisfree{
  color: rgba(2, 65, 55, 1);
}
.reveal{
  opacity: 0;
  transition-duration: 1s !important;
}
.active{
  opacity: 1 !important;
  transform: translate(0px,0px) !important;
}
.fadeUp{
  transform: translate(0,100px);
}
.loading-innisfree,.loading{
  transition: all 1s;
  z-index: 10;
}
/* Navbar */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  /* font-size: 16px;   */
  border: none;
  outline: none;
  padding: 20px 0px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown{
  z-index: 100;
}
.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  z-index: 10;
  border-top: 1px solid rgba(221, 221, 221, 0.719) ;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: #024137;
}

.dropdown:hover .dropdown-content, .dropdown-content:hover {
  display: flex;
}
.navbar-topic{
  position: relative;
  z-index: 5;
}
.navbar-topic:after{
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #024137;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar-topic:hover:after{
  width: 100%; 
  left: 0; 
}

/* Swiper */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    pointer-events: none;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    pointer-events: none;
  }
  .swiper-wrapper,
  .swiper-slide img{
      max-height: 37rem !important; 
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    /* object-fit: contain; */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* height: 100%; */
    /* object-fit: cover; */
  }
.previous{
    left: 5rem;
    right: auto;
  } 
.next{
    right: 5rem;
    left: auto;
}
.previous,
.next{
      position: absolute;
      top: 50%;
      width: calc(var(--swiper-navigation-size)/ 44 * 27);
      height: var(--swiper-navigation-size);
      margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
      z-index: 10;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
  }
  .previous:hover,
  .next:hover{
      color: rgb(39, 38, 38);
  }
  .previous::after{
    content:"previous";
  }
  .next::after{
    content:"next";
  }
  .previous::after,
  .next::after{
    font-family: swiper-icons;
    font-size: 2rem;
    text-transform: none!important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
  }


/* Innistar of the month */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border: none;
}
::-webkit-scrollbar-thumb {
  background: rgba(150, 150, 150, 0.8);
  border: 0;
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background: none;
  border: 0;
  opacity: 0;
}
.contain-innistar{
  height: 32rem;
  margin-bottom: 2rem;
}
.box-innistar{
  opacity: 0;
  color: white;
  font-size: .75rem;
  transition: all .5s;

}
.box-innistar:hover{
  opacity: 1;
  background-color: rgba(2, 65, 55, 0.9) !important;
}
.a{
  opacity: 0;
  cursor: pointer;
  display: inline-block;
  position: relative;
  
}
.a:after {
  content: '';
  position: absolute;
  width: 30%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #024137;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.a:hover:after {
  width: 100%;
  transform: scaleX(-50);
  transform-origin: bottom left;
}
/* Review of the Month */
.review-month{
  transition: 3s all !important;
}
/* Text Animation */
.text-animation{
  display: flex;
  font-size: 80px;
  align-items: center;
  vertical-align: middle;
  transition: all 3s !important;
  font-family: 'Noto Sans', sans-serif !important;
}
.text-animation::after{
  content: '';
  display: inline-block;
  width: 130px;
  height: 1px;
  background: #222;
  vertical-align: middle;
  margin-left: 20px;
}
.star{
  background: url(../img/shape_star.png) left center no-repeat;
  padding-left: 50px;
  font-family: 'Noto Sans', sans-serif !important;
  font-style: normal;
}
/* Ingredient Slide */
.ingredient-slide{
  background: url(../img/ingredient/bg_ingredient_greentea.jpg) no-repeat;
}
.ingredient-display{
  width: 575px;
  height: 575px;
  overflow: hidden;
  transform: translateX(-50%);
  left: 50%;
  top: 100px;
  border-radius: 50%;
}
.ingredient-display>p{
  letter-spacing: 2.4px;
  font-family: 'Noto Sans', sans-serif !important;
}
.ingredient-display>img{
  max-width: 330px;
}
.card-ingredient{
  width: 110px !important;
  height: 150px !important;
  position: relative;
  border-radius: 30px;
}
.card-ingredient>p{
  color: #fff;
  font-size: 14px;
  opacity: .5;
}
.icon-ingredient{
  width: 45px;
}
.ingredient-main-slide{
  position: absolute;
  bottom: 0;
}

/* Footerr */
.container-footer {
  background-color: rgb(2, 65, 55);
}

.contain-foot {
  height: 91.5%;
}

.product {
  width: 25%;
  height: 60%;
  font-size: .9rem;
  color: white;
}

.detail-in-foot>p {
  color: #acacac;
  padding: .2rem 0rem;
  font-size: smaller;
}

.navb-foot {
  height: 8.5%;
  border-top: 1px solid #acacac;
}

.detail-left-navb,
.detail-right-navb {
  font-size: small;
  color: #acacac;
}

.detail-left-navb>p {
  margin-right: 1rem;
}
.banner{
  cursor: pointer;
  position: relative;
}


#pim {
  display: inline-block;
  overflow: hidden;     
}
#pim img {
  display: block;
  transition: transform .4s; 
}
#pim:hover img {
  transform: scale(1.02);
}
/* product of the month */
.simple-label{
  width: 320px;
  height: 320px;
  overflow: hidden;
  margin: 0 auto;
}
.simple-label img{
  width: 100%;
  transition: 0.5s all ease-in-out;
}
.simple-label:hover img{
  transform: scale(1.02);
}