@import url('https://fonts.googleapis.com/css2?family=Niramit&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    transition: all .5s;
    font-family: 'Niramit', sans-serif;
    /* border: 1px solid black !important; */
}

.loading-innisfree,.loading{
    transition: all 1s;
    z-index: 10;
  }
img{
    max-height: 400px;
    border: 0;
    vertical-align: middle;
}
video{
    pointer-events: none;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) translate3d(0,0,1px);
    object-fit: cover;
    z-index: 5;
}
.logo{
    transform: translate(0,-50px);
    opacity: 0;
}
.container{
    padding: 2rem 5rem;
}
.navbar-intro{
    width: 65rem;
    margin-bottom: 2rem;
}
.video-intro{
    cursor: none !important;
}
.text-intro{
    user-select: none;
}
.text-intro{
    opacity: 0;
    cursor: pointer;
    transform: translate(100px,0);
    display: inline-block;
    position: relative;
}
.language-in>.text-intro:after {
    content: '';
    position: absolute;
    width: 30%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #024137;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .language-in>.text-intro:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .white-box-slide{
      opacity: 0;
      animation: box-slide 1.5s ease-in-out;
  }
  .badge{
      width: 120px;
      height: 120px;
      background: url(../img/badge.svg), center;
      opacity: 0.7;
      z-index: 200 !important;
      position: absolute;
      transition: all 100ms;
  }
  .white-box-slide-after{
      transition: all 2.5s ease-out;
      transform: translate(1500px,0);
  }
  @keyframes box-slide{
      0%{
          opacity: 1;
          transform: translate(0,0);
      }
      100%{
          opacity: 1;
          transform: translate(-1300px,0);
      }
  }
@keyframes introDown {
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.logo-transit{
    transition: 1s;
    opacity: 0;
    transform: translate(100px,0);
}
/* ================================================ */
/*                      Swiper                      */
