



/* secแรก */
.section1 {
    height: 560px;
    background:url(../img/sc1.jpg); 
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.button1{
    background-color: #222; 
    color: white;
}

.button1:hover{
    background-color: #024137;
}

