
.section2 {height:560px; text-align:center; background:url(img/recycle/brand_recycling_section1.jpg) no-repeat center center; background-size:cover;}
.section1 h3 {padding-top:182px;}
.section1 h3 span {display:block; font-size:60px; font-weight:normal; color:#222222;}
.section1 h3 strong {display:block; margin-top:10px; font-size:32px; color:#222222;}
.section1 .brandDesc {margin-top:7px; font-size:16px; color:#222222;}